.input-secondpage{
    border-color:lightgrey;
    margin-top:0px ;
    padding-top:25px;
    border-radius:5px ;
    padding-left:160px;
  }
  .name-secondpage{
    color:grey;
    padding-top:55px;
    font-size:25px;
  }